@font-face {
   font-family: KaushanScript;
    src: url("/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf");
}
@font-face {
   font-family: Roboto;
    src: url("/assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
   font-family: Montserrat;
    src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@mixin font($font){
    font-family: $font;
}