$underLine: #f38181;
$pColor : #999;
$numColor : #95e1d3;
$white : #fff;
$borderColor : #baebe2;
$iconColor : #95e1d3;
$gradient : to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9);
$linkHover:#fce38a;
$navColor : rgba(243, 94, 94, 0.9);
